@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.accordion {
  &__item.is-active {
    .accordion__description {
      grid-template-rows: 1fr;
      opacity: 1;

      &-content {
        padding-block: 8px;
        padding-inline: 8px;
      }
    }
    .accordion__button-arrow {
      transform: rotate(180deg);
    }
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100%;
    padding-inline: 16px;
    padding-block: 16px;

    color: inherit;
    cursor: pointer;

    border: 1px solid transparent;
    border-bottom: 1px solid #000;

    background-color: transparent;

    &-arrow {
      inline-size: 20px;
      block-size: 20px;
      background-image: url("../../img/icon/acordion-arow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform $timeDuration ease;

      @include onTablet {
        inline-size: 36px;
        block-size: 36px;
      }
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.3;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__description {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    overflow: hidden;

    transition: opacity $timeDuration ease-in,
      grid-template-rows $timeDuration ease-in;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-block-size: 0;
      padding-block: 8px;
      padding-inline: 8px;
    }

    &-text {
      line-height: 1.3;
    }
  }
}
