@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.button {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-block: 12px;
  padding-inline: 24px;

  font-size: 24px;
  color: #363636;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #94bd97 0%,
    #d9d9d9 61.69%,
    #94bd97 125.81%
  );
  box-shadow: 0px 4px 4px 0px #00000040;

  @include onTablet {
    font-size: 32px;
  }

  &:after {
    content: "";
    display: block;
    inline-size: 32px;
    block-size: 16px;

    background: url("../../img/training/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(1);
    transform-origin: left;


    transition: all $timeDuration;
  }

  &:hover {
    background: linear-gradient(
      180deg,
      #94bd97 0%,
      #efefef 61.69%,
      #94bd97 125.81%
    );

    box-shadow: 0px 4px 4px 0px #00000040;

  }

  &:hover:after {
    transform: scaleX(1.3);


  }
}
