@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.coach {
  &__content {

    @include onDesktop {
      @include pageGrid;
    }
  }

  &__title {
    @include onDesktop {
      grid-column: 1 / 9;
      margin-block-end: 36px;
    }
  }

  &__image-wrapper {
    float: right;
    width: 40%;
    margin-left: 16px;
    overflow: hidden;

    @include onTablet {
      width: 50%;
    }

    @include onDesktop {
      clear: both;
      width: auto;
      margin-left: 0;

      grid-column: 9 / -1;
      grid-row: 1 / 3;
    }
  }

  &__image {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  &__text-wrapper {
    @include onDesktop {
      grid-column: 1 / span 8;
      grid-row: 2;
    }
  }

  &__text {
    text-align: justify;
    hyphens: auto;
    text-align-last: left;
    word-spacing: 0.05em;

    &:not(:last-child) {
      margin-block-end: 16px;
    }

    @include onDesktop {
      font-size: 20px;
    }

    &--quote {
      @include onDesktop {
        margin-inline-start: 60px;
      }
    }
  }
}
