@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.equipment {
  &__cards {
    padding-block-end: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    block-size: 100%;

    border-radius: 32px;
    overflow: hidden;
    background: linear-gradient(180deg, #f4f4f4 0%, #eae2cf 100%);
    box-shadow: 0px 4px 4px 0px #00000040;

    &-header {
      position: relative;
    }

    &-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 20px;
      color: #fff;
      text-align: center;
      padding-block: 4px;

      backdrop-filter: blur(10px);
    }

    &-content {
      flex: 1;
      color: #676767;
      padding-block: 16px;
      padding-inline: 20px;

      text-align: justify;
      hyphens: auto;
      text-align-last: left;

      @include onTablet {
        padding-inline: 40px;
      }
    }

    &-quote {
      margin-block-start: 16px;
      font-style: italic;
    }
  }
}
