@use '../utils/mixins' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 36px;

  overflow-x: hidden;

  @include onDesktop {
    gap: 58px;
  }

  &__section {
    padding-block-start: 18px;
  }
}
