@use "../utils/mixins" as *;

.pilates {
  position: relative;

  padding-block-start: 42px;
  padding-block-end: 14px;
  background: url("../../img/bcg-vertical.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include onTablet {
    padding-block-start: 156px;
    padding-block-end: 48px;
  }

  @include onDesktop {
    background-image: url("../../img/bcg-horizontal.webp");
    padding-block-end: 96px;
  }

  &__content {
    @include pageGrid;
  }

  &__title {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 9;

      text-align: left;
    }
  }

  &__image {
    inline-size: 100%;
    block-size: 100%;
    block-size: auto;
    object-fit: cover;
    grid-column: span 1;

    margin-block-end: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;

    @include onTablet {
      margin-block-end: 24px;
      grid-column: span 3;
      grid-row: 2 / 4;
    }

    @include onDesktop {
      grid-column: span 3;
      grid-row: 1 / 5;

      height: 100%;
      margin-block-end: 0;
    }
  }

  &__text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: wrap;
    word-break: break-all;

    @include onTablet {
      font-size: 20px;
    }

    &--intro {
      align-self: center;
      letter-spacing: normal;

      @include onTablet {
        margin-block-end: 24px;
        grid-column: span 3;
      }

      @include onDesktop {
        margin-block-end: 20px;
        grid-column: span 9;
      }
    }

    &--midle {
      grid-column: span 2;
      margin-block-end: 16px;

      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        grid-column: span 9;
      }
    }

    &--end {
      grid-column: span 2;

      @include onTablet {
        grid-column: span 6;
      }

      @include onDesktop {
        grid-column: span 9;
      }
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    inset-inline: 0;
    height: 24px;

    background: url("../../img/circle.svg");
    background-repeat: space;
    background-size: 52px 24px;
    background-position: center;

    @include onTablet {
      top: 52px;
      background-size: 72px 36px;
      height: 36px;
    }
  }
}
