@use '../utils/mixins' as *;

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 12px;
  padding-inline-end: 16px;
  background: linear-gradient(180deg, #EAE2CF 0%, #EEEADF 46.15%, rgba(244, 244, 244, 0) 99.52%);

  @include onTablet {
  padding-block: 10px;
  padding-inline: 48px;
    
  }
  
  @include onDesktop {
    display: none;
  }
}
