@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.training {
  &__cards {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    padding-block-end: 16px;

    @include onTablet {
      gap: 36px;
      column-gap: 20px;
    }

    @include onDesktop {
      flex-wrap: nowrap;
    }
  }

  &__card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 4px 4px 0px #00000040;

    &--description {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      background: linear-gradient(180deg, #eae2cf 0%, #f4f4f4 100%);

      padding-block-start: 56px;
      padding-block-end: 8px;
      padding-inline: 8px;

      @include onTablet {
        padding-block-start: 78px;
        padding-block-end: 16px;
        padding-inline: 24px;
      }

      @include onDesktop {
        flex: 1;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 16px;
        inline-size: 100%;
        block-size: 24px;

        background: url('../../img/circle.svg');
        background-size: 52px 24px;
        background-repeat: space;

        @include onTablet {
          background-size: 72px 36px;
          block-size: 36px;
        }
      }
    }

    &-text {
      line-height: 1.3;

      @include onTablet {
        font-size: 20px;
      }
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 16px;

      backdrop-filter: blur(10px);
      color: #fff;

      @include onTablet {
        row-gap: 10px;
      }
    }

    &-title {
      text-align: center;
      flex: 0 0 100%;

      @include onTablet {
        font-size: 32px;
      }
    }

    &-image {
      object-fit: cover;
    }

    &--type {
      flex: 1 1 calc(50% - 16px);

      @include onTablet {
        flex: 1 1 calc(50% - 20px);
      }

      @include onDesktop {
        flex: 1;
      }
    }

    &-time,
    &-price {
      @include onTablet {
        font-size: 20px;
      }
    }

    &-numbers {
      margin-inline-end: 4px;
      font-family: Great Vibes;
      font-size: 24px;
      font-style: italic;
      line-height: 0.75;

      @include onTablet {
        font-size: 64px;
      }
    }
  }
}
